<div class="container mainbody LogReg">
    <form class="form-Login" role="form">
            <label>User Login</label>
                <input type="text" class="form-control" placeholder="username" required autofocus />
                <input type="password" class="form-control" placeholder="password" required/>
                <input type="submit" class="ui button green" value="login">
                <input type="button" class="ui button blue" value="register" ng-click="register()">
    </form>
</div>