<div class="container mainbody LogReg">
    <form class="form-register" role="form">
            <label>Please Register</label>
            <input type="text" class="form-control" placeholder="username" required autofocus ng-model="regist_info.username" />
            <input type="password" class="form-control" placeholder="password" required ng-model="regist_info.password">
            <input type="password" class="form-control" placeholder="password again" required ng-model="regist_info.repassword">
            <input type="submit" class="btn btn-primary" value="register" ng-click="regist_user()">
            <input type="button" class="btn btn-primary" value="back to login" ng-click="backtologin()">
    </form>
</div>