<div class="container mainbody">
    <form class="form-register" role="form">
            <label>Please Register</label>
            <input type="text" class="form-control" placeholder="username" required autofocus/>
            <input type="password" class="form-control" placeholder="password" required>
            <input type="password" class="form-control" placeholder="password again" required>
            <a href="#" class="button glow button-rounded button-flat-primary">register</a>
    </form>
</div>