<div class="mainbody">
  <form class="form-horizontal">
    <!-- Select Basic -->
    <label class="control-label">Search from</label>
    <select ng-model="selected" ng-options="m.name for m in model">
        <option value="">-- please select --</option>
    </select>
    <input type="submit" value="search" ng-click="search_result()">
  </form>
  <div class="panel panel-default" ng-show="show">
  <div class="panel-heading">[[selected.name]]</div>
  <!-- Table -->
  <table class="table">
    <thead>
        <tr>
            <th ng-repeat="item in selected.items">[[item]]</th>
        </tr>
         <!--<tr>-->
            <!--<th ng-repeat="item in selected.items">[[item]]</th>-->
        <!--</tr>-->
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="item in result"></td>
    </tr>
    </tbody>
  </table>

</div>
</div>