<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h2 class="page-header">Menu</h2>
                <div class="btn-group-vertical">
                     <input type="button" class="btn btn-default" ng-click="openXml()" value="Open Xml">
                     <input type="button" class="btn btn-default" ng-click="openTxt()" value="Open TXT">
                     <input type="button" class="btn btn-default" ng-click="import()" value="Import">
                     <input type="button" class="btn btn-default" ng-click="saveAsXml()" value="Save as XML">
                     <input type="button" class="btn btn-default" ng-click="saveAsText" value="Save as TEXT">
                     <input type="button" class="btn btn-default" ng-click="previewXml()" value="preview XML">
                     <input type="button" class="btn btn-default" ng-clixk="Validate" value="Validate">
                     <input type="button" class="btn btn-default" ng-click="checkDuplicate" value="CheckDuplicate">
                     <input type="button" class="btn btn-default" ng-click="submit" value="submit">
                     <input type="button" class="btn btn-default" ng-click="saveAsThermdat" value="Save as thermdat">
                 </div>
            </div>
            <div class="col-xs-8">
                <h2 class="page-header">View</h2>
                 <tabs>
                    <pane title="Species">
                          <div>This is the content of the first tab.</div>
                    </pane>
                    <pane title="Reactions">
                          <div>This is the content of the second tab.</div>
                    </pane>
                    <pane title="Attachments">
                          <div>This is the content of the first tab.</div>
                    </pane>
                    <pane title="General Information">
                          <div>This is the content of the second tab.</div>
                    </pane>
                 </tabs>
            </div>
        </div>
    </div>
</div>