.login_regCss{
  margin-left: 30%;
  margin-top:13%;
  padding-bottom: 11%;
  width: 400px;
  label{
    width: 100%;
    padding-left:28% ;
    font-family: cursive;
    font-size: xx-large;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .form-control{
      width: 80%;
      margin-bottom: 10px;
      margin-left: 10%;
  }
}

.form-Login {
  .login_regCss;
}
.form-register{
  .login_regCss;
}