<header  ng-controller="HeaderCtrl">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li ng-click="search()"><a>Search</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Edit<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a>bibliography</a></li>
            <li><a>data_attribute</a></li>
            <li><a>dataset</a></li>
            <li class="divider"></li>
            <li><a>element</a></li>
            <li class="divider"></li>
            <li><a>experiment</a></li>
            <li><a>instrumental_model</a></li>
            <li ng-click="modelEdit()"><a>model</a></li>
            <li><a>optimization_variable</a></li>
            <li><a>optimization_variable_bound</a></li>
            <li><a>reaction</a></li>
            <li><a>reaction_rate</a></li>
            <li><a>surrogate_model</a></li>
            <li><a>species</a></li>
            <li><a>thermo_dynamic_polynomia</a></li>
          </ul>
        </li>
        <li class="loginHead" ng-click="login()"><a>Login</a></li>
        <li class="registHead" ng-click="regist()"><a>Regist</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
