<header  ng-controller="HeaderCtrl">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href ='/#/search'>Search</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Edit<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#/data/bibliography">bibliography</a></li>
            <li><a href="/#/data/data_attribute">data_attribute</a></li>
            <li><a href="/#/data/dataset">dataset</a></li>
            <li class="divider"></li>
            <li><a href="/#/data/element">element</a></li>
            <li class="divider"></li>
            <li><a href="/#/data/experiment">experiment</a></li>
            <li><a href="/#/data/instrumental_model">instrumental_model</a></li>
            <li><a href="/#/data/model">model</a></li>
            <li><a href="/#/data/optimization_variable">optimization_variable</a></li>
            <li><a href="/#/data/optimization_variable_bound">optimization_variable_bound</a></li>
            <li><a href="/#/data/reaction">reaction</a></li>
            <li><a href="/#/data/reaction_rate">reaction_rate</a></li>
            <li><a href="/#/data/surrogate_model">surrogate_model</a></li>
            <li><a href="/#/data/species">species</a></li>
            <li><a href="/#/data/thermo_dynamic_polynomia">thermo_dynamic_polynomia</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li><a>{{ user.username }}</a></li>
        <li><a ng-click="logout()">logout</a></li>
        {% else %}
        <li class="loginHead"><a href='/#/login'>Login</a></li>
        <li class="registHead"><a href='/#/reg'>Regist</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>