<header  ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">CDM</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li><a href ='/#/search'>Search</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Edit<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/data/bibliography">bibliography</a></li>
                            <li><a href="/#/data/data_attribute">data_attribute</a></li>
                            <li><a href="/#/data/dataset">dataset</a></li>
                            <li class="divider"></li>
                            <li><a href="/#/data/element">element</a></li>
                            <li class="divider"></li>
                            <li><a href="/#/data/experiment">experiment</a></li>
                            <li><a href="/#/data/instrumental_model">instrumental_model</a></li>
                            <li><a href="/#/data/model">model</a></li>
                            <li><a href="/#/data/optimization_variable">optimization_variable</a></li>
                            <li><a href="/#/data/optimization_variable_bound">optimization_variable_bound</a></li>
                            <li><a href="/#/data/reaction">reaction</a></li>
                            <li><a href="/#/data/reaction_rate">reaction_rate</a></li>
                            <li><a href="/#/data/surrogate_model">surrogate_model</a></li>
                            <li><a href="/#/data/species">species</a></li>
                            <li><a href="/#/data/thermo_dynamic_polynomia">thermo_dynamic_polynomia</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li><a>{{ user.username }}</a></li>
                        <li><a ng-click="logout()" href="/">logout</a></li>
                </ul>
                {% endif %}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li><a href="#">Link</a></li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">Action</a></li>#}
{#                                <li><a href="#">Another action</a></li>#}
{#                                <li><a href="#">Something else here</a></li>#}
{#                                <li class="divider"></li>#}
{#                                <li><a href="#">Separated link</a></li>#}
{#                            </ul>#}
{#                    </li>#}
{#                </ul>#}
            </div>
         </div>
    </nav>
</header>