<!doctype html>
<html lang="en">
    <head>
        <title>CDM| Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/less/base.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/buttons/buttons.css"/>

        <script type="text/javascript" src="/static/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular-ui-route.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular-resource.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular-cookies.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/lib/angular-1.2.6/angular-file-upload.min.js"></script>
        <script type="text/javascript" src="/static/lib/buttons/buttons.js"></script>

    </head>
    <body ng-app="combustion">
    <div id='wrap'>
    {% include "header.html" %}
    <div ui-view class="clearfix" id="main-container"></div>
    </div>
    {% include "footer.html" %}

    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="/static/js/directive.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>
    </body>
</html>